<a href="https://colab.research.google.com/github/sanjayk11/neural-network/blob/main/multi_variable_linear_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

import pandas as pd
import numpy as np
from sklearn import linear_model

In [5]:
!kaggle datasets download -d vikrishnan/boston-house-prices

Traceback (most recent call last):
  File "/usr/local/bin/kaggle", line 5, in <module>
    from kaggle.cli import main
  File "/usr/local/lib/python2.7/dist-packages/kaggle/__init__.py", line 23, in <module>
    api.authenticate()
  File "/usr/local/lib/python2.7/dist-packages/kaggle/api/kaggle_api_extended.py", line 146, in authenticate
    self.config_file, self.config_dir))
IOError: Could not find kaggle.json. Make sure it's located in /root/.kaggle. Or use the environment method.

In [14]:
from google.colab import files
files.upload()

Saving houseprice.csv to houseprice.csv

{'houseprice.csv': b'\xef\xbb\xbfarea,bedrooms ,age,price\r\n2600,3,20,55000\r\n3000,4,15,565000\r\n3200,,18,610000\r\n3600,3,30,595000\r\n4000,5,8,760000\r\n4100,6,8,810000\r\n'}

In [15]:
df = pd.read_csv('houseprice.csv')
df

   area  bedrooms   age   price
0  2600        3.0   20   55000
1  3000        4.0   15  565000
2  3200        NaN   18  610000
3  3600        3.0   30  595000
4  4000        5.0    8  760000
5  4100        6.0    8  810000

In [17]:
df.columns

Index(['area', 'bedrooms ', 'age', 'price'], dtype='object')

In [20]:
df.columns = df.columns.str.strip()

In [21]:
df.bedrooms.median()

4.0

In [22]:

df.bedrooms = df.bedrooms.fillna(df.bedrooms.median())
df

   area  bedrooms  age   price
0  2600       3.0   20   55000
1  3000       4.0   15  565000
2  3200       4.0   18  610000
3  3600       3.0   30  595000
4  4000       5.0    8  760000
5  4100       6.0    8  810000

In [23]:
reg = linear_model.LinearRegression()
reg.fit(df.drop('price',axis='columns'),df.price)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [24]:
reg.coef_

array([   267.50345515, 131491.03926411,  10009.55358694])

In [25]:
reg.intercept_

-1061173.7695508678

In [26]:
reg.predict([[3000, 3, 40]])

array([536191.85717199])

In [27]:
267.503*3000+131491.039*3+10009.5535*40-1061173.7695508678

536190.4874491324